* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --black: #222831;
  --white: #eeeeee;
  --blue: #00adb5;
  --gray: #393e46;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Bricolage Grotesque', serif;
  font-optical-sizing: auto;
}

#hero {
  height: 100vh;
  margin: 0 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

#hero > h1 {
  margin-top: auto;
  color: var(--blue);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 5.2rem;
}

#hero > img {
  grid-row: span 2;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  object-fit: cover;
  margin: auto;
  border: 10px solid var(--blue);
}

#hero p {
  font-weight: 200;
  margin-bottom: 10px;
}

#hero button {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--blue);
  border: none;
}

#hero button:hover {
  background-color: var(--gray);
}

#hero a {
  text-decoration: none;
  color: #eeeeee;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
